@model IEnumerable<DtoProjeTemel.Models.ProductDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customerad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customerad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ıd">Edit</a> 
                   <a asp-action="Details" asp-route-id="@item.ıd">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.ıd">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
